@include font-face(RobotoRegular, normal, normal);   
@include font-face(RobotoBold, bold, normal);   
@include font-face(RobotoLight, normal, normal);   

.wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: RobotoRegular;  
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 893px;
    background-size: cover; 
    align-items: center;     
    background-image: url('../images/homepage.gif');
    text-align: center;    
    
    &__caption {
        margin-top: 92px;        
        font-family: RobotoLight;  
        font-size: 56px;
        line-height: 48px;
        color: $logoCaption;
    }
    
    &__text {
        width: 600px;
        margin-top: 29px;        
        color: $logoColor;
        font-family: RobotoLight;  
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }    
}

.logo {
    margin-top: 87px;   
    color: $logoColor;
    font-family: RobotoBold;    

    &__caption {
        text-transform: uppercase;
        font-size: 29.98px;
        letter-spacing: 4px;
    }
    
    &__text {
        position: relative;
        text-transform: uppercase;
        font-size: 13.58px;
        letter-spacing: 4px;
        text-align: center;
        
        &::before, &::after {
            content: '';
            position: absolute;            
            top: 3px;
            width: 33px;
            height: 7px;
        }   
        
        &::before {
            left: 26px;
            background-image: url('../images/leftstar.gif');
        }

        &::after {
            right: 30px;
            background-image: url('../images/rightstar.gif');
        }         
    }    
}

.form-registration {
    width: 340px;
    height: 395px;
    margin-top: 69px;    
    border-radius: 2px;    
    background-color: $backgroundForm;

    &__fieldset {
        padding: 40px;   
        text-align: center;             
    }

    &__legend {
        margin-bottom: -28px;
        padding-top: 43px;
        color: #202020;
        font-size: 24px;
    }

    &__group {
        margin: 21px 0 24px;
        border-bottom: 1px solid $formInputBorderBottom;        
        text-align: left;
    }

    &__label {
        display: block;
        color: $formLabelColor;
        font-size: 12px;
    }

    &__input {
        padding: 9px 0;        
        border: none;
        background-color: $backgroundForm; 
        font-size: 15px;
        outline: none;       
        @include placeholder {
            color: $formColor; 
            font-family: RobotoBold;            
        }                               
    }
    &__submit {
        padding: 15px 20px;
        border: none;
        border-radius: 2px;
        color: $logoColor;
        background-color: $formSubmit;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;   
        outline: none;
        cursor: pointer;                     
    }
}

.moreinfo {
    width: 100%;
    margin: 60px 0;    
    
    &__innerwrapper {
        display: flex;
        justify-content: center;
        width: 61%;
        margin: 0 auto;        
    }
    
    &__general-caption {
        font-size: 34px;
        line-height: 40px;    
    }

    &__caption {
        font-family: RobotoBold;
        font-size: 20px;
        line-height: 1.2em;
        margin-top: 25px;      
    }
    
    &__image {
        width: 100%;
    }

    &__text {
        font-size: 17px;
        margin-top: 18px;
        line-height: 1.8em;       
    }

    &__description {
        flex: 2;
        align-items: stretch;        
    }

    &__benefit {
        flex: 1;        
        margin-left: 20px;        
        align-items: stretch;        
    }
}

.features {
    @extend %section;   
    
    &__innerwrapper {
        width: 61%;
        margin: 74px auto;
    }

    &__general-caption {
        @extend %general-caption;
    }   

    &__text {
        @extend %text;  
    }    

    &__description {
        @extend %description;  
    }

    &__leftside {
        flex: 1;
        align-items: stretch;
        margin-right: 10%;        
    }

    &__image {
        background-image: url('../images/feature.gif');
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    &__list {
        @extend %list;          
    }
    
    &__item {
        @extend %item;  

        &:last-child {
            margin-bottom: 0px;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -25px;
            width: 27px;
            height: 39px;
            background-image: url('../images/list-icon.gif');
        }        
    }

    &__list-caption {
        @extend %list-caption;   
    }

    &__list-text {
        @extend %list-text;       
    }
}

.screenshots {
    width: 100%;
    margin: 0 auto;

    &__list {
        display: flex;
    }

    &__item {
        width: 100%;
        height: 343px;
        background-size: cover;

        &--first {
            background-image: url('../images/screen1.gif');
        }
        
        &--second {
            background-image: url('../images/screen2.gif');        
        }
        
        &--third {
            background-image: url('../images/screen3.gif');
        }
        
        &--fourth {
            background-image: url('../images/screen4.gif');
        }        
    }
}

.faq {
    @extend %section;        
    
    &__innerwrapper {
        width: 61%;
        margin: 0 auto;
        margin-top: 74px;
        margin-bottom: 26px;
    }

    &__general-caption {
        @extend %general-caption;
    }   

    &__text {
        @extend %text;  
    }    

    &__description {
        @extend %description;  
    }

    &__item {
        @extend %item;  
    }

    &__list {
        @extend %list;               
    }
 
    &__list-caption {
        @extend %list-caption;   
    }

    &__list-text {
        @extend %list-text;       
    }   
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    font-size: 14px;
    margin: 30px auto; 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        min-width: 769px;
    }  
    
    .header {
        height: 894px;
    }    
    
    .form-registration {
        width: 336px;
        height: 395px;
    }    

    .moreinfo {
        width: 100%;
        margin: 70px 0;        

        &__innerwrapper {
            width: 100%;
        }

        &__general-caption {
            width: 384px;
        }

        &__description {
            flex: 1.7;
            margin-left: 32px;
        }

        &__benefit {
            flex: 0.9;
        }

        &__text {
            font-size: 14px;
        }
    }
         
    .features {
        &__innerwrapper {
            width: 100%;
        }        

        &__description {
            margin: 70px 32px 8px;         
        }
    }

    .screenshots__item {
        width: 100%;
        height: 184px;
    }    
    
    .faq {
        &__innerwrapper {
            width: 100%;
        }         
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {    
    .wrapper {
        width: 100%;
        min-width: 481px;
    }  
    
    .header {
        height: 868px;
        
        &__caption {
            margin-top: 60px;            
            font-size: 50px;
            line-height: 50px;
        }
    
        &__text {
            width: 620px;
            font-size: 15px;
        }
    }     

    .logo {
        margin-top: 77px;
    }

    .form-registration {
        width: 340px;
        height: 375px;

        &__fieldset {
            padding: 18px 40px;
        }
    }    
    
    .moreinfo {
           
        &__innerwrapper {
            width: 100%;
        }        

        &__text {
            font-size: 14px;
        }
    }

    .features {

        &__innerwrapper {
            width: 100%;
            margin: 0 auto;
        }  

        &__general-caption {
            font-size: 30px;
        }

        &__description {
            margin: 10px 10px 66px;
        }

        &__leftside {
            margin-right: 7%;
        }

        &__text {
            margin: 20px auto;
        }

        &__images {
            width: 100%;
            height: 260px;
            background-size: cover;
        }   
        
        &__item {
            margin-bottom: 48px;
        }

        &__list-caption {
            line-height: 20px;
        }
    }    

    .screenshots {
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            width: 50%;
            height: 276px;
        }
    }

    .faq {

        &__innerwrapper {
            width: 100%;
            margin: 53px 0 0;            
        }         
        
        &__general-caption {
            font-size: 30px;
        }

        &__description {
            margin: 30px 15px;
        }

        &__text {
            margin: 20px auto;
        }

        &__list {
            margin-left: 0;
        }
                
        &__item {
            padding-left: 0;
        }
        
        &__list-caption {
            line-height: 20px;
        }        
    }
    
    .copyright {
        font-size: 13px;        
    }     
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .wrapper {
        width: 100%;
        min-width: 0;
    }  
    
    .header {
    
        &__text {
            width: 460px;
            font-size: 14px;
        }

        &__caption {
            margin-top: 48px;
            font-size: 50px;
            line-height: 52px;
        }
    }   

    .form-registration {
        height: 374px;
        margin-top: 64px;
        
        &__group {
            margin: 21px 0 8px;
        }

        &__submit {
            font-size: 13px;        
        }
    }

    .logo {
        margin-top: 68px;
    }
    
    .moreinfo {
        margin: 0;

        &__innerwrapper {
            width: 100%;
            display: flex;
            margin-left: 10px;
            flex-wrap: wrap; 
        } 

        &__general-caption {
            font-size: 31px;
        }

        &__description {
            flex: none;
            width: 100%;            
            margin-top: 40px;            
        }

        &__text {
            font-size: 13px;
        }

        &__benefit {
            flex: none;
            margin: 20px 0;  
            width: 100%;                      
        }

        &__image {
            display: block;            
            width: 50%;
            margin: 0 auto;
        }
    }    

    .features {

        &__innerwrapper {
            width: 100%;
            margin: 76px 0 44px;
        }  

        &__description {
            flex-direction: column;
            margin-top: 20px;                       
        }

        &__leftside {
            margin: 0;
        }

        &__image {
            display: block;            
            margin: 36px 17px;
            width: 92%;
            height: 382px;
            background-size: cover;         
        }       

        &__text {
            font-size: 15px;
            margin-top: 0;
        }

        &__list {
            margin: 0 36px;
        }

        &__item {
            padding: 0 10px;
            margin-bottom: 11px;            
        }
    }   
    
    .screenshots {

        &__list {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            width: 50%;
            height: 173px;
            background-size: cover;
        }
    }     
    
    .faq {

        &__innerwrapper {
            width: 100%;
            margin-top: 44px;  
            margin-bottom: 36px;                      
        }          
        
        &__general-caption {
            font-size: 31px;
        }

        &__description {
            flex-direction: column;
            margin-top: 20px;
        }

        &__text {
            margin: 20px auto;
        }

        &__list {
            margin-left: 0;
        }
                
        &__item {
            margin: 7px;          
            padding-left: 0;
        }
        
        &__list-caption {
            font-size: 19px;
            font-family: RobotoRegular;
        }        
    }    

    .copyright {
        font-size: 14px;        
    }         
}