$featuresBackground: $snow;
$logoColor: $white;
$logoCaption: $iron;
$backgroundForm: $whiteSmoke;
$formColor: $nero;
$formLabelColor: $greyChateau;
$formSubmit: $darkOrchid;
$formInputBorderBottom: $submarine;