.wrapper {
    display: flex;
    margin: -2px;    

    &__input {
        background-color: white;
        border-radius: 0;   
        padding: 15px;             
    }
    
    &__delete {
        font-size: 34px;
        color: rgb(207, 24, 33) !important;
        position: absolute;
        right: 25px;  
    }    
}