<div class="wrapper">
  <div class="form-group col-md-10 wrapper__input">
      <label for="purchases">Ingredients</label>
      <input minlength="1" type="text" class="form-control" name="purchases" id="purchases" 
      #purchaseInput="ngModel" [(ngModel)]="purchases" required="required">    
  </div>
  <button [disabled]="!purchaseInput.valid || purchaseInput.pristine" class="btn btn-success wrapper__btn" 
      (click)="addPurchase(purchases)">
      <i class="fa fa-shopping-cart"></i>
      Add purchases</button>
</div>
