<div class="container">
    <h3 class="purchase__title">Purchases</h3>
    <app-purchase-input (onAddPurchase)="onPurchasesAdded($event)"></app-purchase-input>
    <hr>
    <div class="row">
      <div class="col-md-8">
          <h3 class="purchase__title">Purchases list</h3>        
          <app-purchase-item class="purchase__item" *ngFor="let purchase of purchases; let i = index" [ingridient]="purchase">        
              <a (click)="onDeletePurchase(i)" class="purchase__delete"><i class="fa fa-times"></i></a>              
          </app-purchase-item>
      </div>
    </div>
</div>