<li class="recipes-list__item">
    <div class="item">
        <img class="item__img" src="{{ recipeItem.photoUrl }}">
        <h1 class="item__title"
            [routerLink]="['/recipes', recipeItem.id]">{{ recipeItem.title }}</h1>
        <p class="item__description">{{ recipeItem.description }}</p>
        <div class="group--heart">
            <fa name="fas fa-heart" size="2x"></fa>            
            <span>{{ recipeItem.likes }}</span>
        </div>
    </div>
    <div class="group">
        <div class="group__likes">
            <a (click)="like(recipeItem.id)" class="group__button"><i class="fa fa-thumbs-up"></i></a>   
            <a (click)="dislike(recipeItem.id)" class="group__button"><i class="fa fa-thumbs-down"></i></a>                         
        </div>
        <div class="group__work">
            <a class="group__button" [routerLink]="['/recipes', recipeItem.id]"><i class="fa fa-eye"></i></a>     
            <a [routerLink]="['/recipes/edit', recipeItem.id]"
            class="group__button"><i class="fa fa-pencil"></i></a>            
            <a (click)="deleteRecipe(recipeItem)" class="group__button"><i class="fa fa-trash"></i></a>
        </div>    
    </div>
</li>