<li class="recipes-list__item">
    <div class="item">
        <img class="item__img" src="{{ recipeItem.photoUrl }}">
        <h1 class="item__title">{{ recipeItem.title }}</h1>
        <p class="item__description">{{ recipeItem.description }}</p>
        <div class="group--heart">
            <fa name="fas fa-heart" size="2x"></fa>            
            <span>{{ recipeItem.likes }}</span>
        </div>
    </div>
    <div class="group">
        <div class="group__likes">
            <fa name="fas fa-thumbs-up" size="2x"></fa>
            <fa name="fas fa-thumbs-down" size="2x"></fa>
        </div>
        <div class="group__work">
            <fa name="far fa-eye" size="2x"></fa>            
            <fa name="fas fa-pencil" size="2x"></fa>
            <a (click)="deleteRecipe(recipeItem)" class="btn button-delete"><i class="fa fa-trash"></i></a>
        </div>    
    </div>
</li>