.recipes-list__item {
    width: 300px;
    border: 1px solid #767676;
    height: 580px;
    margin: 10px;
}
.item {
    padding: 5px;
    position: relative;

    &__img {
        width: 290px;
        height: 290px;
    }

    &__title {
        font-size: 22px;
        color: #767676;
        height: 55px;
    }
    
    &__description {
        font-size: 14px;
        color: #767676;
        height: 130px;        
    }   
    
    &:after {
        display: block;
        width: 96%;  
        content: '';
        position: absolute;
        height: 3px;        
        border-bottom: 1px solid #767676;
    }   
}

.group {
    padding: 0 10px;
    color: #767676;

    &__likes {
        float: left;
    }

    &__work {
        float: right;
    }

    &--heart {
        color: rgb(207, 24, 33);
    }    
    
    &__button {
        font-size: 24px;
    }
}
