* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;   
}


.container::after {
    content: "";
    display: block;    
    clear: both;
}

.menu {
    float: left;  
    width: 240px;
    height: 650px;
    background-color: cadetblue;
}

.content {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.content__header {
    height: 150px;
    background-color: green;
}

.content__section {
    float: left;
    overflow: auto;       
    width: 520px;
    height: 500px;    
    background-color: palevioletred; 
}

.content__text {
    padding: 20px;
    text-align: justify;
}

.content__text::first-letter {
    float: left;
    margin: -10px 10px -15px 0;
    font-size: 64px;
}

.content__picture {
    float: right;
    height: 290px;  
    margin: 10px 0 10px 10px;    
}

.content__aside {
    float: left;  
    width: 200px;
    height: 500px;
    background-color: yellow;      
}

.footer {
    height: 100px;
    background-color: green;    
}

