html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.features__general-caption, .faq__general-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  line-height: 40px; }

.features__list-caption, .faq__list-caption {
  font-family: RobotoBold;
  font-size: 16px;
  line-height: 39px; }

.features__text, .faq__text {
  width: 400px;
  font-size: 17px;
  margin: 30px auto;
  line-height: 1.5em;
  text-align: center; }

.features__description, .faq__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.features__item, .faq__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 34px; }

.features__list, .faq__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.features__list-caption, .faq__list-caption {
  font-family: RobotoBold;
  font-size: 16px;
  line-height: 39px; }

.features__list-text, .faq__list-text {
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px; }

.features, .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fafafa; }

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/RobotoLight.eot");
  src: url("../fonts/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  width: 1600px;
  margin: 0 auto;
  font-family: RobotoRegular; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 880px;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/homepage.gif");
  text-align: center; }
  .header__caption {
    font-family: RobotoLight;
    font-size: 56px;
    line-height: 48px;
    color: #c7cdce; }
  .header__text {
    width: 600px;
    color: #fff;
    font-family: RobotoLight;
    font-size: 16px;
    line-height: 20px;
    text-align: center; }

.logo {
  color: #fff;
  font-family: RobotoBold; }
  .logo__caption {
    text-transform: uppercase;
    font-size: 29.98px;
    letter-spacing: 4px; }
  .logo__text {
    position: relative;
    text-transform: uppercase;
    font-size: 13.58px;
    letter-spacing: 4px;
    text-align: center; }
    .logo__text::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 26px;
      width: 33px;
      height: 7px;
      background-image: url("../images/leftstar.gif"); }
    .logo__text::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 30px;
      width: 33px;
      height: 7px;
      background-image: url("../images/rightstar.gif"); }

.form-registration {
  width: 380px;
  height: 395px;
  border-radius: 2px;
  background-color: #f6f6f6; }
  .form-registration__fieldset {
    padding: 40px;
    text-align: center; }
  .form-registration__legend {
    margin-bottom: -20px;
    padding-top: 40px;
    color: #202020;
    font-size: 24px; }
  .form-registration__group {
    margin: 20px 0;
    border-bottom: 1px solid #9a9b9b;
    text-align: left; }
  .form-registration__label {
    display: block;
    color: #acadae;
    font-size: 12px; }
  .form-registration__input {
    padding: 9px 0;
    border: none;
    background-color: #f6f6f6;
    font-size: 16px;
    outline: none; }
    .form-registration__input::-webkit-input-placeholder {
      color: #202020;
      font-family: RobotoBold; }
    .form-registration__input:-moz-placeholder {
      color: #202020;
      font-family: RobotoBold; }
    .form-registration__input::-moz-placeholder {
      color: #202020;
      font-family: RobotoBold; }
    .form-registration__input:-ms-input-placeholder {
      color: #202020;
      font-family: RobotoBold; }
  .form-registration__submit {
    padding: 15px 20px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #9c27b0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer; }

.moreinfo {
  height: 385px;
  width: 100%; }
  .moreinfo__innerwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 940px;
    height: 385px;
    margin: 0 auto; }
  .moreinfo__general-caption {
    font-size: 34px;
    line-height: 40px; }
  .moreinfo__caption {
    font-family: RobotoBold;
    font-size: 20px;
    line-height: 1.2em;
    margin-top: 25px; }
  .moreinfo__image {
    width: 100%;
    height: auto; }
  .moreinfo__text {
    font-size: 17px;
    margin-top: 18px;
    line-height: 1.8em; }
  .moreinfo__description {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .moreinfo__benefit {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 20px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.features {
  height: 690px; }
  .features__innerwrapper {
    width: 940px;
    margin: 0 auto; }
  .features__images {
    background-image: url(../images/feature.gif);
    width: 430px;
    height: 385px;
    margin-right: 75px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .features__item:last-child {
    margin-bottom: 0px; }
  .features__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 27px;
    height: 39px;
    background-image: url(../images/list-icon.gif); }

.screenshots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.screenshots__item {
  width: 400px;
  height: 288px; }
  .screenshots__item--first {
    background-image: url(../images/screen1.gif); }
  .screenshots__item--second {
    background-image: url(../images/screen2.gif); }
  .screenshots__item--third {
    background-image: url(../images/screen3.gif); }
  .screenshots__item--fourth {
    background-image: url(../images/screen4.gif); }

.faq {
  height: 530px; }
  .faq__innerwrapper {
    width: 940px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 125px;
  font-size: 24px; }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 1024px;
    min-width: 769px; }

  .header {
    height: 895px; }

  .form-registration {
    width: 340px;
    height: 395px; }

  .moreinfo {
    height: 450px; }

  .features {
    height: 705px; }

  .screenshots__item {
    width: 256px;
    height: 184px;
    background-size: cover; }

  .faq {
    height: 515px; }

  .copyright {
    height: 75px;
    font-size: 16px; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    width: 768px;
    min-width: 481px; }

  .header {
    height: 870px; }
    .header__caption {
      font-size: 50px;
      line-height: 50px; }
    .header__text {
      width: 611px;
      font-size: 15px; }

  .form-registration {
    width: 340px;
    height: 375px; }

  .moreinfo {
    height: 400px; }
    .moreinfo__innerwrapper {
      width: 725px;
      margin: 0 auto; }

  .features {
    height: 610px; }
    .features__general-caption {
      font-size: 30px; }
    .features__description {
      margin: 30px 30px; }
    .features__text {
      margin: 20px auto; }
    .features__images {
      width: 290px;
      height: 260px;
      background-size: cover; }
    .features__item {
      margin-bottom: 10px; }
    .features__list-caption {
      line-height: 20px; }

  .screenshots__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .screenshots__item {
    width: 384px;
    height: 274px; }

  .faq {
    height: 485px; }
    .faq__general-caption {
      font-size: 30px; }
    .faq__description {
      margin: 30px 15px; }
    .faq__text {
      margin: 20px auto; }
    .faq__list {
      margin-left: 0; }
    .faq__item {
      padding-left: 0; }
    .faq__list-caption {
      line-height: 20px; }

  .copyright {
    height: 68px;
    font-size: 16px; } }
@media screen and (min-width: 0px) and (max-width: 480px) {
  .wrapper {
    width: 480px;
    min-width: 0; }

  .header {
    height: 890px; }
    .header__text {
      width: 460px;
      font-size: 14px; }

  .moreinfo {
    height: 820px; }
    .moreinfo__innerwrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 460px;
      margin: 0 auto;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .moreinfo__description {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 460px;
      margin-top: 40px; }
    .moreinfo__benefit {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      margin: 20px 0;
      width: 460px; }
    .moreinfo__image {
      display: block;
      width: 220px;
      height: 120px;
      margin: 0 auto;
      text-align: center; }

  .features {
    height: 990px; }
    .features__innerwrapper {
      width: 480px; }
    .features__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 20px; }
    .features__images {
      display: block;
      width: 425px;
      height: 380px;
      margin: 0 auto;
      text-align: center; }
    .features__list {
      margin: 20px 45px; }
    .features__item {
      padding: 0 10px; }

  .screenshots {
    height: 340px; }
    .screenshots__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .screenshots__item {
      width: 240px;
      height: 170px;
      background-size: cover; }

  .faq {
    height: 660px; }
    .faq__general-caption {
      font-size: 30px; }
    .faq__description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 20px; }
    .faq__text {
      margin: 20px auto; }
    .faq__list {
      margin-left: 0; }
    .faq__item {
      margin: 10px;
      padding-left: 0; }
    .faq__list-caption {
      font-size: 19px;
      font-family: RobotoRegular; }

  .copyright {
    height: 68px;
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */