$white: #fff;
$whiteSmoke: #f3f3f3;
$snow: #fafafa;

$pigmentGreen: #14af51; 
$tangerineYellow: #f4ca04;
$cinnabar: #ec3c2d;
$denim: #1c7bbf;
$bulticSea: #383d41;

// shades of gray :)
$mischka: #acadaf;
$zumthor: #d2d6d7;
$aliceBlue: #f0f8ff;
$zircon: #e9edee;
$linkWater: #ced3d6;
$heather: #c0c4c7;
$whisper: #ebebeb;


