@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin linear-gradient($gradientLine, $colorStops...) {
  background-image: -webkit-linear-gradient($gradientLine, $colorStops);
  background-image:    -moz-linear-gradient($gradientLine, $colorStops);
  background-image:      -o-linear-gradient($gradientLine, $colorStops);
  @if      $gradientLine == top    { $gradientLine: to bottom; }
  @else if $gradientLine == bottom { $gradientLine: to top; }
  @else if $gradientLine == left   { $gradientLine: to right; }
  @else if $gradientLine == right  { $gradientLine: to left; }
  background-image:         linear-gradient($gradientLine, $colorStops);
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

