.header-menu {
    display: flex;
    list-style: none;

    &__item {
        margin-left: 10px;
    }

    &__ref {
        color: black;
        text-decoration: none;
    }
}

.active {
    border-bottom: solid 3px #ab476f;
}