$black: #000;
$lightBlue: #acd7e5;
$lightCoral: #ef7e7e;
$lightGoldenrodYellow: #f9f9d2;
$gray: #8B8989;
$white: #fff;
$summerSky: #3498DB;
$white: #fff;
$azure: #ecf0f1;
$curiousBlue: #2980b9;
$seagull: #82b8dc;
