html, body {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.users {
    background: $lightGoldenrodYellow;
    border: 5px solid $lightCoral;
    width: auto; 
    font-size: 20px;
    color: $black;   

    &__cell {
        padding: 5px;
        border: 1px solid $gray;
        width: 150px;        
    }

    &__edit {
        background-image: url('../images/edit1.png');
        width: 35px;
        background-size: contain;
    }

    &__delete {
        background-image: url('../images/delete1.png');
        width: 35px;
        background-size: contain;
    }    

    &__editable {
        background-image: url('../images/save1.png');
        width: 35px;
        background-size: contain;
    }    
}
.cell-edit {
    background-color: $white;
    font-style: italic;
    width: 150px;
}

.input {
    width: 97%;
    height: 19px;
}

.wrapper {
    margin-top: 20px;
}
