html,
body {
    height: 100%;
    font: 28px/14px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    line-height: 2em;
    text-align: center;
}

.main-wrapper {
    display: flex;
    height: 100%; 
    box-sizing: border-box;      
    border: 1px solid $black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 4;  
}

.navigation {
    flex: 1;
    background-color: $lightBlue;
}

.header {
    height: 80px;
    $lightGoldenrodYellow: #f9f9d2;
    background-color: $lightCoral;
}

.main {
    display: flex;
    height: 100%;
    align-items: stretch;
	position: relative;    

    &__content {
        order: 2;
        flex: 1;
        padding: 20px;
        background-color: $lightGoldenrodYellow;
        line-height: 1em;
        text-align: justify; 
        display: flex;
        justify-content: center;
        align-items: center;        
    }   

    &__wrapper-slider {
        width: 985px;
        overflow: hidden;
        position: relative;  
    }

    &__list {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 45%;
        list-style-type: none;        
    }
}

.footer {
    height: 80px;
    background-color: $lightCoral;
}

.slides {
    width: 2988px;
    display: flex;
    flex-wrap: wrap;
    transition: all 1000ms; 
    padding-left: 0;     

    &__item {
		display: flex;
        width: 985px;
        height: 360px;
        background-size: cover;

        &:nth-of-type(1){
            background-image: url('../images/image01.jpeg');
        }
        &:nth-of-type(2){
            background-image: url('../images/image02.jpeg');
        }
        &:nth-of-type(3){
            background-image: url('../images/image03.jpeg');
        }
    }
}

.list {
    &__button {
        width: 11px;
        height: 14px;
        margin-right: 25px;        
        background-color: $gray;        
        border: 1px solid $black;
        text-indent: -9999px;
        border-radius: 50%;

        &--check {
            background-color: transparent;  
            background-color: $white;                
        }

        &--last {
            margin-right: 0;                    
        }
    }
}
