* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 28px/14px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    line-height: 2em;
    text-align: center;
    box-sizing: border-box;    
}

.main {
    display: flex;
    height: 100%;
    align-items: stretch;
	position: relative;    

    &__content {
        order: 2;
        flex: 1;
        padding: 20px;
        line-height: 1em;
        text-align: justify; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;            
    }   

    &__wrapper-slider, &__wrapper-slider2 {
        overflow: hidden;
        height: 400px;
        margin: 0 auto;
        width: 985px;   
        position: relative;             
    }

    &__list {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 45%;
        list-style-type: none;        
    }
    &__nextArrow, &__prevArrow {
        position: absolute;
        width: 100px;
        height: 88%;
        top: 12%; 
        border: 0;
        outline: 0;
    }

    &__nextArrow {
        right: 0;
        background: url('../images/right-arrow.png') -8px 110px no-repeat;        
    }

    &__prevArrow {
        left: 0;
        background: url('../images/left-arrow.png') -8px 110px no-repeat;                
    }

}

.footer {
    height: 112px;
    font-size: 30px;
    background-color: $lightCoral;
}

@keyframes slide-right-left {
    0% {
        left: 985px;       
    }
    100% {
        left: 0px;
    }
}

@keyframes slide-right-left {
    0% {
        right: -985px;
    }
    100% {
        right: 0;
    }
}

@keyframes slide-left-right {
    0% {
        right: 985px;
    }
    100% {
        right: 0;
    }
} 

.slides {
    height: 400px;
    width: 985px;
    padding-left: 0;        

    &__item {
        position: absolute;
        width: 985px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all .5s ease;
        visibility: hidden;
        opacity: 0;

        &:nth-child(1){
            background-image: url('../images/image01.jpeg');
        }
        &:nth-child(2){
            background-image: url('../images/image02.jpeg');
        }
        &:nth-child(3){
            background-image: url('../images/image03.jpeg');
        }
                
        &.active {
            visibility: visible;
            opacity: 1;                  
            animation: slide-right-left 1s ease forwards;
        }

        &.active--reverse {
            visibility: visible;
            opacity: 1;                  
            animation: slide-left-right 1s ease forwards;
        }        
    }
}

.list {
    padding-left: 0;      

    &__button {
        width: 11px;
        height: 14px;
        margin-right: 25px;        
        background-color: $gray;        
        border: 1px solid $black;
        text-indent: -9999px;
        border-radius: 50%;

        &--check {
            background-color: transparent;  
            background-color: $white;                
        }

        &--last {
            margin-right: 0;                    
        }
    }
}

html, body {
    height: 100%;
}
