body {
    font-family: Open Sans;
  }
  
  @keyframes slide-top-bottom {
    0% {
      top: -200px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes slide-top-bottom-down {
    0% {
      top: 0px;
    }
    100% {
      top: 200px;
    }
  }
  .container {
    width: 600px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .slider {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  .slider::after {
    display: table;
    clear: both;
    content: "";
  }
  .slider .slider-controls {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slider .slider-controls::after {
    display: table;
    clear: both;
    content: "";
  }
  .slider .slider-controls .btn-slider {
    border: none;
    outline: none;
    padding: 5px 15px;
    color: #666;
    background: transparent;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .slider .slider-controls .btn-slider:hover {
    color: #fff;
    background-color: #a6a6a6;
  }
  .slider .slider-controls .btn-slider.prev {
    float: left;
  }
  .slider .slider-controls .btn-slider.next {
    float: right;
  }
  .slider .slider-wrapper {
    height: 200px;
    width: 600px;
  }
  .slider .slider-wrapper .slide {
    position: absolute;
    top: -200px;
    background-color: #ccc;
    width: 600px;
    height: 200px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
    visibility: hidden;
    opacity: 0;
    animation: slide-top-bottom-down 1s ease forwards;
  }
  .slider .slider-wrapper .slide.active {
    visibility: visible;
    opacity: 1;
    animation: slide-top-bottom 1s ease forwards;
  }
  .slider .slider-wrapper .slide p {
    text-transform: uppercase;
    font-size: 40px;
    color: #999;
  }
  