<li class="recipes-list__item">
    <div class="item">
        <img class="item__img" src="{{ recipeItem.photoUrl }}">
        <h1 class="item__title">{{ recipeItem.title }}</h1>
        <p class="item__description">{{ recipeItem.description }}</p>
        <div class="group--heart">
            <app-heart-button></app-heart-button><span>{{ recipeItem.likes }}</span>
        </div>
    </div>
    <div class="group">
        <div class="group__likes">
            <app-like-button></app-like-button>
            <app-dislike-button></app-dislike-button>
        </div>
        <div class="group__work">
            <app-view-button></app-view-button>
            <app-edit-button></app-edit-button>
            <app-delete-button></app-delete-button>             
        </div>    
    </div>
</li>