body {
    background-color: $background;
}

.wrapper {
    height: 200px;
    width: 402px;
    margin: 15% auto;
    position: relative;
}

.loader {
    position: absolute;
    width: 10em;
    height: 10em;    
    margin: 0 auto;
    border-radius: 50%;    
    font-size: 10px;
    border-left: 1.1em solid $partCircle;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    
    &--black {
        left: 139px;
        @include border($blackCircle);
        @include animation(0.1s);
    } 
 
    &--red {
        left: 279px;
        @include border($redCircle);    
        @include animation(0.2s);
    }

    &--green {
        bottom: 23px;
        left: 207px;
        @include border($greenCircle);       
        @include animation(0.3s);
    }

    &--blue {
        @include border($blueCircle);         
        @include animation(0.4s);
    }  

    &--gold {
        bottom: 23px;
        left: 67px;
        @include border($goldCircle);       
        @include animation(0.5s);    
    }  
}
