$headerBackground: $zircon;
$headerText: $dimgray;
$headerTextActive: $black;
$captionLine: $black;
$disc: $darkGray;
$discTitle: $black;
$discographyDescription: $regentGrey;
$buttonWhite: $white;
$composition: $azure;
$sliderText: $regentGray;
$sliderdate: $fiord;