@import 'mixins', 'reset', 'normalize', 'colors', 'variables';

html, body { 
    min-height: 100%; 
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: $bodyBackground;
}

/*----------------- BUTTONS -----------------------*/
.buttons {
    width: 1800px;
    margin: 50px auto;
    text-align: center;

    &__caption {
        margin: 105px 0 105px 90px;
        text-align: left;
        text-transform: uppercase;
        font-size: 36px;
    }

    &__wrapper {
        justify-content: space-between;
        display: flex;
        width: 1630px;
        margin: 0 0 84px 73px;
    }

    &__button {
        width: 257px;
        height: 80px;
        border: none;
        border-radius: 5px;
        color: $textOnButton;
        text-decoration: none;
        font-size: 32px;
        line-height: 2.5em;
        outline: none;
        @include linear-gradient(bottom, $greenButton, lighten($greenButton, 25%));
        @include box-shadow(1px 1px 0 1px darken($greenButton, 15%));

        &:hover, &.hover {
            background-color: $greenButton;
            background-image: none;
            box-shadow: none;
        }

        &:active, &.active {
            background-color: $greenButton;
            background-image: none;
            @include box-shadow(inset 0px 0px 2px 1px darken($greenButton, 15%));
        }
    }
}

@each $pair in $colors {
    .buttons__button-#{nth($pair, 1)} {
        $color: nth($pair, 2);

        background: $color;
        @include linear-gradient(bottom, $color, lighten($color, 25%));
        @include box-shadow(1px 1px 0 1px darken($color, 15%));

        &:hover, &.hover {
            background-color: lighten($color, 2%);
        }

        &:active, &.active {
            background-color: darken($color, 5%);
            @include box-shadow(inset 0px 0px 2px 1px darken($color, 15%));
        }
    }
}

/*----------------- CHECKBOXES -----------------------*/
.checkboxes {
    width: 1800px;
    margin: 50px auto;
    text-align: center;

    &__caption {
        margin: 165px 0 96px 73px;
        text-align: left;
        text-transform: uppercase;
        font-size: 36px;
    }

    &__caption-bold {
        font-weight: bold;
    }

    &__wrapper {
        width: 1630px;
        text-align: left;
        margin: 0 0 84px 74px;
    }

    &__checkbox {
        position: relative;
        width: 33px;
        height: 33px;
        border: 1px solid #a29e9e;
        border-radius: 5px;
        margin: 10px 36px 0 0;
        background-color: #f4f4f4;
        @include linear-gradient(bottom, $checkboxBackground, $checkboxBackground);
        cursor: pointer;
        -webkit-appearance: none;
        outline: none;

        &:checked, &.checked {
            @include linear-gradient(bottom, $greenButton, $greenButton);
            border-color: $greenButton;

            &::before {
                @include box-shadow(6px -2px 0 $checkboxCheck, 9px -2px 0 $checkboxCheck, 10px -2px 0 $checkboxCheck, 10px -3px 0 $checkboxCheck, 10px -4px 0 $checkboxCheck, 10px -5px 0 $checkboxCheck, 10px -6px 0 $checkboxCheck, 10px -7px 0 $checkboxCheck, 10px -8px 0 $checkboxCheck, 10px -9px 0 $checkboxCheck, 10px -10px 0 $checkboxCheck);
                content: '';
                @include transform(rotate(45deg));
                display: block;
                position: absolute;
                top: 10px;
                left: 6px;
                height: 3px;
                width: 3px;
            }
        }

        &.disabled {
            @include linear-gradient(bottom, $greenButton, $greenButton);
            border-color: $greenButton;
            opacity: 0.6;

            &::before {
                @include box-shadow(6px -2px 0 $checkboxCheck, 9px -2px 0 $checkboxCheck, 10px -2px 0 $checkboxCheck, 10px -3px 0 $checkboxCheck, 10px -4px 0 $checkboxCheck, 10px -5px 0 $checkboxCheck, 10px -6px 0 $checkboxCheck, 10px -7px 0 $checkboxCheck, 10px -8px 0 $checkboxCheck, 10px -9px 0 $checkboxCheck, 10px -10px 0 $checkboxCheck);
                content: '';
                @include transform(rotate(45deg));
                display: block;
                position: absolute;
                top: 10px;
                left: 6px;
                height: 3px;
                width: 3px;
            }
        }
    }
}

@each $pair in $colors {
    .checkboxes__checkbox-#{nth($pair, 1)} {
        $color: nth($pair, 2);
        @include linear-gradient(bottom, $color, lighten($color, 25%));

        &:checked, &.checked {
            @include linear-gradient(bottom, $color, $color);
            border-color: $color;
        }

        &.disabled {
            @include linear-gradient(bottom, $color, $color);
            border-color: $color;
            opacity: 0.6;
        }
    }
}

/*----------------- PAGINATIONS -----------------------*/
.paginations {
    width: 1716px;
    margin: 50px auto;
    text-align: center;

    &__caption {
        margin: 119px 0 107px 32px;
        text-align: left;
        text-transform: uppercase;
        font-size: 35px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 1630px;
        margin: 0 0 88px 33px;
    }

    &__page {
        display: inline;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid $borderGrayButton;
        margin-right: 18px;
        color: $darkColorTextOnButton;
        font-size: 18px;
        line-height: 1.8em;
        text-align: center;
        @include linear-gradient(bottom, lighten($bottomGradientGrayButton, 10%), lighten($bottomGradientGrayButton, 30%));
        float: left;

        &-last {
            margin-right: 0;
        }

        &:hover, &.hover {
            @include linear-gradient(bottom, lighten($topGradientGrayButton, 10%), lighten($topGradientGrayButton, 30%));
        }

        &:active, &.active {
            background-color: $activePrevGrayButton;
            border: 1px solid $activePrevGrayButton;
            background-image: none;
        }

        &-prev, &-next {
            &:hover, &.hover {
                @include linear-gradient(bottom, lighten($topGradientGrayButton, 10%), lighten($topGradientGrayButton, 30%));
            }

            &:active, &.active {
                background-color: $activeGrayButton;
                border: 1px solid $activeGrayButton;
                background-image: none;
            }
        }
    }
}

@each $pair in $colorsForPagination {
    .paginations__page-#{nth($pair, 1)} {
        $color: nth($pair, 2);
        border: 1px solid darken($color, 15%);
        background-color: $color;
        color: $snow;
        @include linear-gradient(bottom, $color, lighten($color, 20%));

        &:hover, &.hover {
            @include linear-gradient(bottom, lighten($color, 10%), lighten($color, 30%));
        }

        &:active, &.active {
            background-color: $color;
            background-image: none;
        }
    }
}

.link {
    text-decoration: none;
    pointer-events: none;
    color: $bulticSea;
}

/*----------------- TABS -----------------------*/
.tabs {
    width: 1716px;
    margin: 50px auto;
    text-align: center;

    &__caption {
        margin: 132px 0 118px 34px;
        text-align: left;
        text-transform: uppercase;
        font-size: 35px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        width: 1630px;
        margin: 0 0 134px 37px;
    }

    &__tab {
        border-bottom: 1px solid #b7b9b7;
        margin-right: 132px;
    }

    &__tablink {
        color: $heather;
        text-decoration: none;
        pointer-events: none;

        &:active, &.active {
            color: $bulticSea;
        }
    }

    &__item {
        display: inline;
        float: left;
        padding: 17px 71px 23px 23px;
        font-size: 29px;

        &:hover, &.hover {
        }
    }
}

@each $pair in $colorsForTabs {
    .tabs__item-#{nth($pair, 1)} {
        $color: nth($pair, 2);

        &:active, &.active {
            border-bottom: 3px solid $color;
        }
    }
}

.tabsbutton {
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        width: 1630px;
        margin: 0 0 88px 32px;
    }

    &__tab {
        margin-right: 73px;
        border: 1px solid $borderTabsButton;
        border-radius: 3px;
    }

    &__tablink {
        text-decoration: none;
        pointer-events: none;
        color: $bulticSea;

        &:active, &.active {
            color: $snow;
        }
    }

    &__item {
        display: inline;
        float: left;
        padding: 24px 34px 23px 32px;
        background: $backgroundTabsButton;
        border-right: 1px solid $borderTabsButton;
        font-size: 29px;

        &:last-child {
            border-right: none;
            border-radius: 0 5px 5px 0;
        }
    }
}

@each $pair in $colorsForTabs {
    .tabsbutton__item-#{nth($pair, 1)} {
        $color: nth($pair, 2);
        border-radius: 5px 0 0 5px;

        &:active, &.active {
            background: $color;
        }
    }
}