* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.div0 {
    float: left;
}

.div1 {
    float: right;
    border: solid 1px red;
    width: 200px;
    height: 200px;
}
.div2 {
    float: right;
    border: solid 1px green;
    width: 200px;
    height: 200px;    
}

.div02 {
    position: absolute;
    top: 210px;
}

.div12 {
    position: absolute;
    border: solid 1px red;
    width: 200px;
    height: 200px;
    right: -400px;    
    
}
.div22 {
    position: absolute;
    border: solid 1px green;
    width: 200px;
    height: 200px;    
}

.div03 {
    display: flex;
    position: absolute;
    top: 420px;
    flex-direction: row-reverse;    
}

.div13 {
    border: solid 1px red;
    width: 200px;
    height: 200px;
    
}
.div23 {
    border: solid 1px green;
    width: 200px;
    height: 200px;    
}

.div04 {
    position: absolute;
    top: 630px;
}

.div14 {
    display: inline-block;
    border: solid 1px red;
    width: 200px;
    height: 200px;
}

.div24 {
    float: left;
    border: solid 1px green;
    width: 200px;
    height: 200px;    
}