$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$contentBackground: #660;
$bodyBackground: #659a01;
$bodyColorText: #fff;
$caption: #f1d52c;
$backgroundNote: #657d01;
$tbodyColor: #94a34e;
$tableTR: #657d01;
$colorLink: #f1d52c;
$fontH2: normal;
$widthBrief: 880px;