$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$contentBackground: #fff;
$bodyBackground: #ddbc9b;
$bodyColorText: #000;
$caption: #873a02;
$backgroundNote: #fadcba;
$tbodyColor: #e0e0e0;
$tableTR: white;
$colorLink: #3c5c82;
$fontH2: italic;
$widthBrief: 293px;