<div class="container">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" #title="ngModel"
        required="required" [(ngModel)]="model.title">
        <div [hidden]="title.valid || title.pristine" class="error">
            * Title is required
        </div>        
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" cols="40" rows="5"
        #description="ngModel" required="required" [(ngModel)]="model.description"></textarea>        
        <div [hidden]="description.valid || description.pristine" class="error">
            * Description is required
        </div>         
      </div>
  
      <div class="form-group">
          <label for="photoUrl">Photo URL</label>
          <input type="text" class="form-control" id="photoUrl" name="photoUrl" minlength="4"
          #photoUrl="ngModel" required="required" [(ngModel)]="model.photoUrl">
          <div *ngIf="photoUrl.errors && (photoUrl.dirty || photoUrl.touched)" class="error">
              <div [hidden]="!photoUrl.errors.required">
                  * Photo URL is required
              </div>
              <div [hidden]="!photoUrl.errors.minlength">
                * Photo URL must be valid url
              </div>
          </div>          
      </div>

      <div class="form-group">
          <label for="instruction">Instruction</label>
          <textarea class="form-control" id="instruction" name="instruction" cols="40" rows="5"
          #instruction="ngModel" required="required" [(ngModel)]="model.instruction"></textarea>        
          <div [hidden]="instruction.valid || instruction.pristine" class="error">
              * Instruction is required
          </div>            
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category" 
        #category="ngModel" required="required" [(ngModel)]="model.category">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
        <div [hidden]="category.valid || category.pristine" class="error">
            * Category is required
        </div>            
      </div>
  
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>