<div class="item">
    <img class="item__img" src="{{ recipeItem.photoUrl }}">
    <div class="item__group">
        <h3 class="item__title">{{ recipeItem.title }}</h3>
        <p class="item__description">{{ recipeItem.description }}</p>
        <p class="item__category">Category: {{ recipeItem.category }}</p>
    </div>
    <div class="item__group-btns">
        <button class="btn btn-success"
            [routerLink]="['/recipes/edit', recipeItem.id]">
            <i class="fa fa-pencil"></i>
              Edit
        </button>
        <button (click)="addToFavorites(recipeItem.id)" class="btn btn-success">
            <i class="fa fa-star"></i>
              {{ title }}
        </button>    
        <button (click)="addToPurchases(recipeItem.ingredients)" class="btn btn-success"
            [routerLink]="['/purchases']">
            <i class="fa fa-shopping-cart"></i>
              Purchases
        </button> 
    </div>
    <h3 class="item__title">Ingredients</h3>
    <li class="item__ingredients" *ngFor="let item of recipeItem.ingredients">
        {{ item }}
    </li>
    <h3 class="item__title">Instructions</h3>
    <p>{{ recipeItem.instructions }}</p>
</div>